@*@model List<ABCPortfolio.Models.CompletedProject>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image for project</th>
        </tr>
    </thead>
    <tbody>

        
            @foreach (var team in Model)
            {
            string imagePath = "/ProjectsPhotos/" + team.Imageforproject;
            <tr>
                <td> <img src="@imagePath" alt="Team Image" /> </td>

                          <td>@team.Title</td>
                        <td>@team.Description</td>

            </tr>
            }
       
        
    </tbody>

</table>*@



@foreach (var item in Model)
{
    string imagePath = "/ProjectsPhotos/" + item.Imageforproject;
    <div id="portfolio">
        <div class="row">

            <div class="col-md-6 col-lg-4 mix web">
                <div class="portfolio-box">
                    <div class="img-box">


                        <a href="#portfolioPreview01" class="popup-with-zoom-anim">
                            <img src="@imagePath" class="img-fluid" alt="">
                        </a>
                        <div id="portfolioPreview01" class="zoom-anim-dialog mfp-hide portfolio-preview">
                            <div class="row">
                                <div class="col-md-6 mb-5 mb-lg-0">
                                    <div class="img-box">
                                        <img src="@imagePath" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="description">
                                        <h4>ERP Software</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, doloribus, voluptas. Facere, hic quae cupiditate velit a, autem sunt dolor.</p>
                                        <ul>
                                            <li><i class="fal fa-file-alt"></i> Project : <span>Website</span></li>
                                            <li><i class="fad fa-user-tie"></i> Client : <span>KhadiGhar</span></li>
                                            <li><i class="fal fa-code"></i> Langages : <span>HTML, CSS, Javascript</span></li>
                                            <li class="mb-0"><i class="fal fa-external-link"></i> Preview : <a href="#" target="_blank">www.khadighar.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hover-txt">
                        <span class="category">@item.Title</span>
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

}